<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat List</title>
    <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
</head>

<body>
<div class="header" th:include="/include/header.html"></div>

<div class="container">
    <div>
        <p id="title">Chat Rooms</p>
    </div>

    <div class="chat_box">
        <ul id="chat_arrange">
            <li class="chat_div" th:each="room : ${rooms}" th:data-room-id="${room.roomId}">
                <div class="chat_list">
                    <div class="circle" th:if="${room.receiver.profileInfo != null}">
                        <img th:class="profile" th:src="'/api/photo/' + ${room.receiver.profileInfo.uuid + '_' + room.receiver.profileInfo.fileName}">
                    </div>
                    <div class="circle" th:unless="${room.receiver.profileInfo != null}">
                        <img th:class="profile" th:src="@{/image/profile.png}">
                    </div>
                    <div class="list_div">
                        <span class="name" th:if="${session.member_name == room.receiver.name}" th:text="${room.sender.name}">username1</span>
                        <span class="name" th:if="${session.member_name != room.receiver.name}" th:text="${room.receiver   .name}">username1</span>
                    </div>
                    <div class="delete_div">
                        <button class="delete_btn">
                            <img th:src="@{/image/new_delete.png}">
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var chatListElements = document.querySelectorAll('.chat_div');
        chatListElements.forEach(function(element) {
            element.addEventListener('click', function() {
                var roomId = element.getAttribute('data-room-id');
                if (roomId) { // roomId가 null이 아닌 경우에만 처리
                    var url = 'chatRoom/' + roomId;
                    window.location.href = url;
                } else {
                    console.error("roomId is null or undefined");
                }
            });
        });
    });

</script>
</body>

</html>
