<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/chat/chatRoom.css">
    <script src="../../static/js/chat/chat.js"></script>
    <script src="../../static/js/chat/close.js"></script>
</head>

<body>
    <header>
        <div class="chat_close">
            <button>
            <img src="../../static/images/chat_close.png" alt="">
            </button>
        </div>
        <div class="chat_header">
            <img src="../../static/images/guide_logo.png">
        </div>
    </header>
    
    <div id="chat_list"></div>
    <div class="chat_input">
        <input type="text" id="chat_content" name="chat_content" placeholder="채팅을 입력해주세요.">
        <button id="chat_btn">
            <img src="../../static/images/chat_btn.png">
        </button>
    </div>
</body>

</html>