<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅 목록</title>
    <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
</head>

<body>
<div class="header" th:include="/include/header.html"></div>

<div class="container">
    <div>
        <p id="title">채팅</p>
    </div>

     <div class="chat_box">
        <ul id="chat_arrange">
            <li class="chat_div" th:each="room : ${rooms}">
                <div class="chat_list">
                    <div class="circle" th:if="${room.receiver.profileInfo != null}">
                        <img th:class="profile" th:src="'/api/photo/' + ${room.receiver.profileInfo.uuid + '_' + room.receiver.profileInfo.fileName}">
                    </div>
                    <div class="circle" th:unless="${room.receiver.profileInfo != null}">
                        <img th:class="profile" th:src="@{/image/profile.png}">
                    </div>
                    <div class="list_div">
                        <span class="name" th:text="${room.receiver.name}">username1</span>
                    </div>
                    <div class="delete_div">
                        <button class="delete_btn">
                            <img th:src="@{/image/new_delete.png}">
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="chatModal" class="modal">
    <div class="modal_content">
        <section>
            <div id="left">
                <div id="myProfile">
                    <div id="ratingImg">
                        <img th:src="@{/image/high.png}" alt="금메달">
                    </div>
                    <div id="profilePhoto">
                        <div id="circle">
                            <div id="photo">
                                <img th:src="@{/image/user.png}" alt="기본 프로필 사진">
                            </div>
                        </div>
                    </div>
                    <div id="name">
                        홍길동
                    </div>
                    <div id="info">
                        <table id="info_table">
                            <p>한 줄 소개</p>
                            <span id="info_content">안녕</span>
                        </table>
                    </div>
                    <!--                <div id="myCount">-->
                    <!--                    <div id="like">-->
                    <!--                        <img th:src="@{/image/like.png}" alt="좋아요">-->
                    <!--                        <p>16</p>-->
                    <!--                    </div>-->
                    <!--                    <div id="post">-->
                    <!--                        <img th:src="@{/image/post.png}" alt="게시물">-->
                    <!--                        <p>16</p>-->
                    <!--                    </div>-->
                    <!--                    <div id="chat">-->
                    <!--                        <img th:src="@{/image/chat.png}" alt="채팅">-->
                    <!--                        <p>16</p>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--                <p id="withdraw">탈퇴</p>-->
                </div>
            </div>
        </section>
    </div>
</div>
<!--<script>-->
<!--    let session_member_id = [[${session_member_id}]]-->
<!--    let session_member_name = `[[${member_name}]]`-->

<!--    sessionStorage.setItem('member_id', session_member_id);-->
<!--    sessionStorage.setItem('member_name', session_member_name);-->

<!--    console.log("===================coookie===================")-->
<!--    console.log(session_member_id)-->
<!--    console.log(session_member_name)-->
<!--</script>-->
<script th:src="@{/js/chat/chatList.js}"></script>
<script th:src="@{/js/chat/chatModal.js}"></script>
<script th:src="@{/js/chat/closeModal.js}"></script>
</body>

</html>

