<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
</head>

<body>
<header>
    <div class="chat_close">
        <button>
            <img th:src="@{/image/chat_close.png}" alt="">
        </button>
    </div>
    <div class="chat_header">
        <img th:src="@{/image/guide_logo.png}">
    </div>
</header>

<form id="chatForm">
<div id="chat_list"></div>
<div class="chat_input">
    <label for="chat_content"></label><input type="text" id="chat_content" name="chat_content" placeholder="채팅을 입력해주세요.">
    <button type="submit" id="chat_btn">
        <img th:src="@{/image/chat_btn.png}" alt="">
    </button>
</div>
</form>

</body>
<script>
    // const roomId = "YOUR_ROOM_ID"; // 실제 채팅방의 식별자로 대체해야 합니다.

    // STOMP 클라이언트 생성
    const socket = new SockJS('http://localhost:8888/connection');
    const stompClient = Stomp.over(socket);
    // const stompClient = Stomp.client("ws://192.168.0.12:8888/connection"); // 예시: 서버 주소와 엔드포인트 설정

    // 연결 시도
    let authToken;
    stompClient.connect({Authorization: 'Bearer ' + authToken}, function(frame) {
        console.log('Connected: ' + frame);

        // 메시지를 받았을 때의 동작 정의
        stompClient.subscribe("/topic/chat/room/", function(message) {
            const messageBody = JSON.parse(message.body);
            // 메시지를 chatMessages 영역에 추가
            const chatMessagesDiv = document.getElementById("chat_list");
            const messageParagraph = document.createElement("p");
            messageParagraph.QtextContent = messageBody.content;
            chatMessagesDiv.appendChild(messageParagraph);
        });
    });


    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("chatForm").addEventListener("submit", function(event) {
            event.preventDefault(); // 폼 기본 동작 중단
            //
            // const messageInput = document.getElementById("chat_content");
            // console.log("messageInput: ",messageInput)
            //
            // const message = messageInput.value; // 입력된 메시지 가져오기
            // console.log("message: ",message)

            const messageInput = document.querySelector("#chat_content");
            console.log(messageInput);
            const message = messageInput.value;

            console.log('test: ', message);
            console.log("Message entered:", message);
            // 메시지를 서버로 전송
            let roomId = 11;
            let memberId = 22
            const chatMessageDTO = {
                chatMsg: message,
                memberId: 22,
                chatRoom: roomId,
                registDate: new Date().toISOString()
            };
            stompClient.send("/app/message", {}, JSON.stringify(chatMessageDTO));
            // 입력 폼 비우기
            messageInput.value = "";

            // 전송된 메시지 확인
            console.log("전송된 메시지:", JSON.stringify({
                content: message,
            }));
        });
    });

</script>
<!--<script th:src="@{/js/chat/chat.js}"></script>-->
</html>