<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>파일 업로드 테스트</title>

</head>
<body>
<h2>파일 업로드 테스트</h2>
<form id="uploadForm" action="/api/upload" method="post" enctype="multipart/form-data">
  <label for="file">파일 선택:</label>
  <input type="file" id="file" name="file" required><br><br>
  <label for="content">프로필 내용:</label>
  <input type="text" id="content" name="content" required><br><br>
  <label for="memberId">회원 식별자:</label>
  <input type="text" id="memberId" name="memberId" required><br><br>
  <button type="submit">업로드</button>
</form>

<div id="imagePreview"></div>

<script>
  document.getElementById('file').addEventListener('change', function(event) {
    var file = event.target.files[0]; // 선택된 파일 가져오기
    var reader = new FileReader(); // 파일을 읽기 위한 FileReader 객체 생성

    reader.readAsDataURL(file);

    reader.onload = function(e) {
      var imagePreview = document.getElementById('imagePreview'); // 이미지를 표시할 영역 가져오기
      imagePreview.innerHTML = ''; // 이전에 표시된 이미지 제거

      var imgElement = document.createElement('img'); // 이미지 요소 생성
      imgElement.src = e.target.result; // 이미지의 경로를 설정
      imgElement.style.maxWidth = '300px'; // 이미지의 최대 너비 지정
      imgElement.style.maxHeight = '300px'; // 이미지의 최대 높이 지정

      imagePreview.appendChild(imgElement); // 이미지를 표시할 영역에 이미지 요소 추가
    };
  });
</script>
</body>
</html>
