<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="test_location_input" method="post" enctype="multipart/form-data" onsubmit=" return validateForm() ">
    <div style="width:50%;">
        <div class="d-flex">
            <input type="text" class="form-control" id="sample6_postcode" name="road_num" readonly> &nbsp;
            <button class="btn btn-sm btn-primary" type="button" onclick="sample6_execDaumPostcode()">주소 찾기</button>
        </div>
        <br/>


        <input type="text" class="form-control" name="road_address" id="sample6_address" placeholder="주소" style="width:100%" readonly>
        <input type="text" class="form-control" name="latitude" id="sample6_latitude" value="">
        <input type="text" class="form-control" name="longitude" id="sample6_longitude" value="">
        <input type="text" class="form-control" id="sample6_extraAddress" name="detail_address">
        <br/>

    </div>
    <div id="map" style="width:500px;height:350px;margin-top:10px;margin-left:10px;"></div>
</form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f982e13e4f6fb5fa544e2ca4883ced76&libraries=services"></script>

<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476),
            level: 5
        };

    // 지도 객체 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    // 주소-좌표 변환 객체 생성
    var geocoder = new daum.maps.services.Geocoder();
    // 마커 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });

    function getLatLngFromRoadName(roadName) {
        geocoder.addressSearch(roadName, function(results, status) {
            console.log("getLatLngFromRoadName::실행")
            if (status === daum.maps.services.Status.OK) {

                var result = results[0];
                var latitude = result.y;
                var longitude = result.x;

                console.log("위도:", latitude);
                console.log("경도:", longitude);

                document.getElementById("sample6_latitude").value = latitude;
                document.getElementById("sample6_longitude").value = longitude;

                var coords = new daum.maps.LatLng(latitude, longitude);
                map.setCenter(coords);
                marker.setPosition(coords);
            } else {
                console.log("주소 검색 실패:", status);
            }
        });
    }

    function sample6_execDaumPostcode() {
        console.log('===============주소 찾기 클릭=================')
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;

                var addrs = data.address;

                document.getElementById("sample6_address").value = addrs;
                getLatLngFromRoadName(addrs);
            }
        }).open();
    }
</script>

</body>
</html>