<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVELMAKER-HEADER</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
    <header id="header">
        <ul id="list">
            <div class="left-group">
                <li id="travelmaker">
                    <a class="a-link" th:href="@{/main}" target="_parent"><img src="../../image/logo.png"></a>
                </li>
            </div>
            <div class="center-group">
                <li>
                    <a class="a-link" th:href="@{/main}" target="_parent">홈</a>
                </li>
                <li id="community">
                    <a class="a-link" th:href="@{/post/joinMain}" target="_parent">커뮤니티</a>
                </li>
                <li id="chat">
                    <a class="a-link" href="#" target="_parent">채팅</a>
                </li>
            </div>

            <div class="right-group" th:if="${session.member_id != null}">
                <form id="logoutForm" method="post" action="/member/logout">
                    <li id="mypage">
                        <a class="a-link" th:href="@{/member/myPage}" target="_parent">마이페이지</a>
                    </li>
                    <li id="logout" onclick="document.getElementById('logoutForm').submit();">
                        <a class="a-link" href="#">로그아웃</a>
                    </li>
                </form>
            </div>
            <div class="right-group" th:unless="${session.member_id != null}">
                <li id="login">
                    <a class="a-link" href="/member/login" target="_parent">로그인</a>
                </li>
                <li id="block">
                    |
                </li>
                <li id="signUp">
                    <a class="a-link" href="/member/signUp" target="_parent">회원가입</a>
                </li>
            </div>
        </ul>
    </header>
</body>
</html>
