<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/member/otherPage.css}">
</head>

<body>
<div th:include="/include/header.html"></div>
<div class="container">
    <header>
        <p id="title">[[${member.name}]]님의 페이지</p>
    </header>
    <section>
        <div id="left">
            <div id="otherProfile">
                <div id="ratingImg">
                    <img th:if="${member.rating == '금메달'}" th:src="@{/image/high.png}" alt="금메달">
                    <img th:if="${member.rating == '은메달'}" th:src="@{/image/second.png}" alt="은메달">
                    <img th:if="${member.rating == '동메달'}" th:src="@{/image/third.png}" alt="동메달">
                </div>
                <div id="profilePhoto">
                    <div id="circle">
                        <img th:src="'/api/photo/' + ${member.profileInfo.uuid + '_' + member.profileInfo.fileName}">
                    </div>
                </div>
                <div id="name">
                    <p>[[${member.name}]]</p>
                </div>
                <div id="info">
                    <table id="info_table">
                        <p>한 줄 소개</p>
                        <span id="info_content">[[${member.profileInfo.content}]]</span>
                    </table>
                </div>
<!--                <div id="userInfo">-->
<!--                    <p>[[${member.getAgeRange()}]]</p>-->
<!--                    <p>[[${member.getGenderDescription()}]]</p>-->
<!--                </div>-->
                <div>
                    <p id="chatting">1:1 채팅</p>

                </div>
<!--                <div id="chatImg">-->
<!--                    <form action="/chat/create" method="post" >-->
<!--                        <button type="submit" class="chat_room">-->
<!--                    <img th:src="@{/image/chattingBtn.png}" alt="채팅 걸기">-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
            <div id="otherCount">
                <div id="like">
                    <img th:src="@{/image/like.png}" alt="좋아요">
                    <p>[[${member.likeCount}]]</p>
                </div>
                <div id="post">
                    <img th:src="@{/image/post.png}" alt="게시물">
                    <p>[[${member.postCount}]]</p>
                </div>
                <div id="chat">
                    <img th:src="@{/image/chat.png}" alt="채팅">
                    <p>[[${member.commentCount}]]</p>
                </div>
            </div>
            <p id="report">신고</p>
        </div>
        <div id="right">
            <!--            <div id="userInfo">-->
            <p id="otherInfo">상세 정보</p>
            <!--                </div>-->
            <div id="userInfo">
                <div class="cir">[[${member.getAgeRange()}]]</div>
                <div class="cir">[[${member.getGenderDescription()}]]</div>
            </div>
<!--            <div id="info">-->
<!--                <p>한줄 소개</p>-->
<!--                <p id="content">[[${member.profileInfo.content}]]</p>-->
<!--            </div>-->
            <div id="mbti">
                <p>나의 여행 유형</p>
                <p id="userMbti">
                <p>[[${member.profileInfo.travelType}]]</p></p>
                <div id="mbtiBox">
                    <div class="box" th:if="${member.profileInfo.travelType.startsWith('E')}">
                        사람 많은 도시파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.startsWith('I')}">
                        나무 많은 자연파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.contains('S')}">
                        정해진 코스 관광파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.contains('N')}">
                        상상대로 모험파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.contains('F')}">
                        감성파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.contains('T')}">
                        효율파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.contains('J')}">
                        꼼꼼한 계획파
                    </div>
                    <div class="box" th:if="${member.profileInfo.travelType.contains('P')}">
                        끌리는대로 행동파
                    </div>
                </div>
            </div>
            <div id="otherPost">
                <div id="more">
                    <p>[[${member.name}]]님의 게시물</p>
                    <p id="postMore">더보기</p>
                </div>
                <ul>
                    <li>[모집] 제주도로 떠날 사람 구합니다.</li>
                    <li>[모집] 제주도로 떠날 사람 구합니다.</li>
                    <li>[모집] 제주도로 떠날 사람 구합니다.</li>
                    <li>[모집] 제주도로 떠날 사람 구합니다.</li>
                    <li>[모집] 제주도로 떠날 사람 구합니다.</li>
                </ul>
            </div>
        </div>
    </section>
</div>

<script th:inline="javascript">
    /* 서버로부터 받은 로그인한 사용자의 memberId */
    const senderId = [[${senderId}]];
    /* 선택된 상대방 사용자의 memberId */
    const receiverId = [[${receiverId}]];

    document.getElementById('startChat').addEventListener('click', function() {
        fetch(`/api/chat/create?senderId=${senderId}&receiverId=${receiverId}`, {
            method: 'POST'
        })
            .then(response => response.json())
            .then(data => {
                window.location.href = `chat/chatRoom.html?roomId=${data.roomId}`;
            })
            .catch(error => console.error('Error:', error));
    });
</script>

</body>

</html>
