<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
    <link rel="stylesheet" th:href="@{/css/member/profile.css}">
</head>
<body>
<!-- Header -->
<div th:include="/include/header.html"></div>

<div class="container">
    <header>
        <p id="title">프로필</p>
    </header>

    <!-- Profile Form -->
    <form action="/member/profile" method="post" enctype="multipart/form-data">
        <div id="imagePreview"></div>
        <label class="file-label">
            <input type="file" id="file" name="file" required>
        </label>

        <div>
            <input type="text" id="content" name="content" placeholder="한줄소개">
        </div>

        <!-- MBTI Selection -->
        <div class="select">
            <button type="button" class="selectBtn" id="E">사람 많은 도시파</button>
            <button type="button" class="selectBtn" id="I">나무 많은 자연파</button>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="S">정해진 코스파</button>
            <button type="button" class="selectBtn" id="N">상상대로 모험파</button>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="F">감성파</button>
            <button type="button" class="selectBtn" id="T">효율파</button>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="J">꼼꼼한 계획파</button>
            <button type="button" class="selectBtn" id="P">끌리는대로 행동파</button>
        </div>

        <input type="hidden" id="mbtiResult" name="travelType" value="">

        <button type="submit" class="loginBtn">완료</button>
    </form>
</div>


<!-- Footer -->
<footer>
    <div th:include="/include/footer.html"></div>
</footer>

<!-- JS Scripts -->
<script th:src="@{/js/member/mbti.js}"></script>
<script>
    document.getElementById('file').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.readAsDataURL(file);

        reader.onload = function(e) {
            var imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = '';

            var imgElement = document.createElement('img');
            imgElement.src = e.target.result;
            imgElement.style.width = '100%';
            imgElement.style.height = '100%';
            imgElement.style.objectFit = 'cover';
            imgElement.style.borderRadius = '50%';

            imagePreview.appendChild(imgElement);
        };
    });
</script>
</body>
</html>
