<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/member/signUp.css}">
</head>
<body>
<div th:include="/include/header.html"></div>
<div class="container">
    <header>
        <img src="/image/logo.png" alt="로고">
        <p id="title">회원가입</p>
    </header>
    <form action="/member/signUp" method="post" onsubmit="return signUpForm()">
        <div>
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="이름">
        </div>
        <div id="idForm">
            <label for="id"></label>
            <input type="text" id="id" name="uid" placeholder="아이디">
            <button type="button" id="duplicate" onclick="checkDuplicateId()">중복확인</button>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" name="pwd" placeholder="비밀번호">
        </div>
        <div>
            <label for="check"></label>
            <input type="password" id="check" name="check" placeholder="비밀번호 확인">
        </div>
        <div>
            <label for="phone"></label>
            <input type="text" id="phone" name="phone" placeholder="휴대폰 번호 (01012345678)">
        </div>
        <div>
            <label for="year"></label>
            <input type="number" id="year" name="year" value="1999" min="1900" max="2005">
        </div>
        <div class="gender">
            <input type="radio" id="male" name="gender" class="radio" value="male"><label for="male">남자</label>
            <input type="radio" id="female" name="gender" class="radio" value="female"><label for="female">여자</label>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="E">사람 많은 도시파</button>
            <button type="button" class="selectBtn" id="I">나무 많은 자연파</button>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="S">정해진 코스파</button>
            <button type="button" class="selectBtn" id="N">상상대로 모험파</button>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="F">감성파</button>
            <button type="button" class="selectBtn" id="T">효율파</button>
        </div>
        <div class="select">
            <button type="button" class="selectBtn" id="J">꼼꼼한 계획파</button>
            <button type="button" class="selectBtn" id="P">끌리는대로 행동파</button>
        </div>
        <input type="hidden" id="mbtiResult" name="travelType" value="">
        <button type="submit" class="finishBtn">완료</button>
    </form>
</div>
<script th:src="@{/js/member/mbti.js}"></script>
<script th:src="@{/js/member/signUp.js}"></script>
</body>
</html>