<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/member/signUp.css}">
</head>
<body>
<!-- Header -->
<div th:include="/include/header.html"></div>

<div class="container">
    <header>
        <img src="/image/logo.png" alt="로고">
        <p id="title">회원가입</p>
    </header>

    <!-- Sign Up Form -->
    <form action="/member/signUp" method="post" onsubmit="return signUpForm()">
        <div>
            <input type="text" id="name" name="name" placeholder="이름">
        </div>

        <div id="idForm">
            <input type="text" id="id" name="uid" placeholder="아이디">
            <button type="button" id="duplicate" onclick="checkDuplicateId()">중복확인</button>
        </div>

        <div>
            <input type="password" id="password" name="pwd" placeholder="비밀번호">
        </div>

        <div>
            <input type="password" id="check" name="check" placeholder="비밀번호 확인">
        </div>

        <div>
            <input type="text" id="phone" name="phone" placeholder="휴대폰 번호 (01012345678)">
        </div>

        <div>
            <input type="number" id="year" name="year" value="1999" min="1900" max="2005">
        </div>

        <div class="gender">
            <input type="radio" id="male" name="gender" class="radio" value="male">
            <label for="male">남자</label>
            <input type="radio" id="female" name="gender" class="radio" value="female">
            <label for="female">여자</label>
        </div>

        <button type="submit" class="finishBtn" id="finishBtn">완료</button>
    </form>
</div>

<!-- JS Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/member/mbti.js}"></script>
<script th:src="@{/js/member/signUp.js}"></script>

<!-- Footer -->
<footer>
    <div th:include="/include/footer.html"></div>
</footer>
</body>
</html>
