<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품-메인</title>
    <link rel="stylesheet" th:href="@{/css/post/carrotMain.css}">
    <script th:src="@{/js/post/carrotMain.js}"></script>
</head>

<body>
<div th:include="/include/header.html"></div>
<div class="container">
    <header>
        <div id="selectMenu">
            <a th:href="@{/post/joinMain}">모집</a>
            <a th:href="@{/post/reviewMain}">후기</a>
            <a th:href="@{/post/carrotMain}" style="color:#FF6392">상품</a>
        </div>
        <div id="selectMenu2">
            <div id="sortMenu">
                <a href="#" class="filter-link">최신순</a>
                <a href="#" class="filter-link">인기순</a>
                <a href="#" class="filter-link">많이 본 순</a>
                <a href="#" class="filter-link">댓글순</a>
            </div>
            <div id="use">
                <form>
                    <input type="text" name="query" id="serchInp">
                    <button type="submit" id="searchBtn">
                        <img th:src="@{/image/searchBtn.png}" alt="검색 버튼">
                    </button>
                </form>
                <button type="submit" id="postBtn"> + 올리기</button>
            </div>
        </div>
    </header>
    <section>
        <div class="carrotBox">
            <div class="image-section">
                <img th:src="@{/image/cat.jpeg}" alt="사용자가 게시한 이미지" />
            </div>
            <div class="text-section">
                <span>판매 물품 제목</span>
                <p>가격</p>
                <div class="additional-text">
                    <p>게시날짜</p>
                    <p>좋아요수</p>
                    <p>조회수</p>
                </div>
            </div>
        </div>
        <div class="carrotBox">
            <div class="image-section">
                <img th:src="@{/image/cat.jpeg}" alt="사용자가 게시한 이미지" />
            </div>
            <div class="text-section">
                <span>판매 물품 제목</span>
                <p>가격</p>
                <div class="additional-text">
                    <p>게시날짜</p>
                    <p>좋아요수</p>
                    <p>조회수</p>
                </div>
            </div>
        </div>
        <div class="carrotBox">
            <div class="image-section">
                <img th:src="@{/image/cat.jpeg}" alt="사용자가 게시한 이미지" />
            </div>
            <div class="text-section">
                <span>판매 물품 제목</span>
                <p>가격</p>
                <div class="additional-text">
                    <p>게시날짜</p>
                    <p>좋아요수</p>
                    <p>조회수</p>
                </div>
            </div>
        </div>
        <div class="carrotBox">
            <div class="image-section">
                <img th:src="@{/image/cat.jpeg}" alt="사용자가 게시한 이미지" />
            </div>
            <div class="text-section">
                <span>판매 물품 제목</span>
                <p>가격</p>
                <div class="additional-text">
                    <p>게시날짜</p>
                    <p>좋아요수</p>
                    <p>조회수</p>
                </div>
            </div>
        </div>
        <div class="carrotBox">
            <div class="image-section">
                <img th:src="@{/image/cat.jpeg}" alt="사용자가 게시한 이미지" />
            </div>
            <div class="text-section">
                <span>판매 물품 제목</span>
                <p>가격</p>
                <div class="additional-text">
                    <p>게시날짜</p>
                    <p>좋아요수</p>
                    <p>조회수</p>
                </div>
            </div>
        </div>
        <div class="carrotBox">
            <div class="image-section">
                <img th:src="@{/image/cat.jpeg}" alt="사용자가 게시한 이미지" />
            </div>
            <div class="text-section">
                <span>판매 물품 제목</span>
                <p>가격</p>
                <div class="additional-text">
                    <p>게시날짜</p>
                    <p>좋아요수</p>
                    <p>조회수</p>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</div>
</body>
</html>