<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/post/carrotDetail.css}">
    <script th:src="@{/js/post/carrotDetail.js}"></script>
</head>

<body>
<div th:include="/include/header.html"></div>
<div class="container">
    <header>
        <div id="selectMenu">
            <a th:href="@{/post/joinMain}">모집</a>
            <a th:href="@{/post/reviewMain}">후기</a>
            <a th:href="@{/post/carrotMain}" style="color:#FF6392">상품</a>
        </div>
        <div id="selectMenu2">
            <div id="sortMenu">
                <a href="#" class="filter-link">최신순</a>
                <a href="#" class="filter-link">인기순</a>
                <a href="#" class="filter-link">많이 본 순</a>
                <a href="#" class="filter-link">댓글순</a>
            </div>
            <div id="use">
                <form>
                    <input type="text" name="query" id="searchInp">
                    <button type="submit" id="searchBtn">
                        <img th:src="@{/image/searchBtn.png}" alt="검색 버튼">
                    </button>
                </form>
                <button type="submit" id="postBtn">+ 올리기</button>
            </div>
        </div>
    </header>

    <div class="cont">
        <div class="top">
            <!-- <div class="snu">
                <input type="text" class="search">

                <button type="button" class="glass" style="background-image: url('../image/white.png');"></button>
                <button type="submit" class="upload">올리기</button>
            </div> -->
        </div>
        <div class="bottom">

            <div class="left">
                <th:block th:each="image : ${imageDTOS}">
                    <img th:src="@{'/api/photo/' + ${image.uuid} + '_' + ${image.fileName}}"
                         alt="Uploaded Image"
                         th:onerror="@{/images/default.jpg}">
                </th:block>
            </div>

            <div class="right">

                <h1 th:text="'제목 : ' + ${post.title}">상품설명</h1>
                <h2 th:text="'가격 : ' + ${post.price} + '원'">가격</h2>
                <h2 th:text="'거래 상태 : ' + ${post.status==false ? '판매중' : '판매완료'}">상태</h2>
                <div class="line">
                    <!-- 프로필 정보 추가 -->
                    <div class="profile-info">
<!--                        <img th:if="${post.getPostImages() != null && !post.imageDTOs.isEmpty()}"-->
<!--                             th:src="@{'/api/photo/' + ${post.imageDTOs[0].uuid} + '_' + ${post.imageDTOs[0].fileName}}"-->
<!--                             alt="사용자가 게시한 이미지"-->
<!--                             th:onerror="@{/images/default.jpg}">-->
                        <h3 class="nickname">닉네임</h3>
                    </div>
                    <h3>작성 날짜</h3>
                    <p id="dateCSS">[[${#temporals.format(post.registerDate, 'yyyy-MM-dd')}]]</p>
                    <h3 class="line-item" th:text="${post.likeCount} + ' likes'">좋아요</h3>
                    <img th:src="@{/image/eye.png}" class="line-item">
                    <h3 class="line-item" th:text="${post.views} + ' views'">조회수</h3>
                </div>


                <div class="line">
                    <h3>상품 상태 | 새상품</h3>
                </div>
                <hr>
                <p th:text="${post.content}"></p>

                <div class="comment">

                </div>
                <div class="comment">
                    <div class="profile-info">
                        <img th:src="@{/image/profile.jpg}" alt="프로필 사진" class="profile-pic">
                        <h4 class="nickname">닉네임</h4>
                        <h4>댓글 : </h4>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
</body>

</html>