<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당근 등록</title>
    <link rel="stylesheet" th:href="@{/css/post/write.css}">
    <style th:inline="css">
        .goods-img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .my-image{
            margin-top: 10px;
            width: 85%;
            height: 200px;
        }
        #profile-image {
            width: 180px;
            height: 180px;
        }
    </style>
</head>
<body>
<div th:include="/include/header.html"></div>
<div id="container">
    <form th:action="@{/post/carrotWrite}" method="post" enctype="multipart/form-data">
        <h1>당근 마켓</h1>
        <input name="title" type="text" placeholder="제목을 입력하세요"> <br>
        <input name="price" type="text" placeholder="판매 가격을 입력하세요"><br>
        <textarea name="content" cols="40" rows="4" placeholder="내용을 입력하세요"></textarea> <br><br>
        <input type="hidden" name="postType" value="Carrot">
        <label>사진 첨부</label>
        <div class="goods-img">
            <div class="my-image">
                <label for="select" class="file-upload-label">
                    <img id="profile-image" th:src="@{/image/camera.png}" alt="프로필이미지">
                </label>
                <div class="file-upload-container">
                    <input id="select" type="file" accept="image/png" name="file" required="required"
                           onchange='handleImageUpload(event)'/>
                </div>
            </div>
        </div>

        <div class="address-container">
            <input type="text" name="road_address" id="sample6_address" placeholder="거래 장소">
            <button class="btn btn-sm btn-primary" type="button" onclick="sample6_execDaumPostcode()">검색</button>
        </div>
        <input type="hidden" name="locationX" id="sample6_latitude" th:value="${latitude}">
        <input type="hidden" name="locationY" id="sample6_longitude" th:value="${longitude}">

        <div id="map" style="width:500px;height:350px;"></div>

        <button type="submit">글쓰기 완료</button>
    </form>
</div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/js/post/write.js}"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f982e13e4f6fb5fa544e2ca4883ced76&libraries=services"></script>
<script th:src="@{/js/post/mepFindLocCloser.js}"></script>
<footer>
    <div th:include="/include/footer.html"></div>
</footer>
</body>

</html>
