<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모집-상세</title>
  <link rel="stylesheet" th:href="@{/css/post/joinDetail.css}">
  </head>
<body>
<div th:include="/include/header.html"></div>
<div class="container"></div>
<div class="details">
  <img th:src="@{/image/ilcQqf__o2TdcXAj0XeVm1ZRxMeEVA6cQ4lzZcaLXoWeFe8iYdzwZSSp8Aw0jS0ZhBDIeLtkvtjdxXgZrz84C15hU4gftIKs2YNg33c4KEGBrQAo1xlh2BJoOAtIZ_Locz-nnfKA_LgwEIVa9hwxoQ.webp}"
       alt="이미지 설명">
  <div class="description">
    <div id="content">
    <p id="title">닌텐도 월드 갈사람~~~~~~~~~~있나요~~</p>
    <div class="info">
      <img th:src="@{/image/map.png}" alt="위치">
      <p id="position">위치</p>
      <img th:src="@{/image/people.png}" alt="인원">
      <p id="number">희망 인원</p>
      <img th:src="@{/image/calendar.png}" alt="일정">
      <p id="cal">예상 일정</p>
    </div>
      <p id="content2">닌텐도 월드 갈사람있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? 있나요? 있어? </p>
      <p id="commentH">댓글 </p>
      <div class="comment">
        <div class="profile-info">
          <img th:src="@{/image/cat.jpeg}" alt="프로필 사진">
        </div>
        <div>
          <h4 class="nickname">김시언 잇프제 대전</h4>
          <span class="nickname"> 안사요 안산다고요 안사요...</span>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
