<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모집-상세</title>
  <link rel="stylesheet" th:href="@{/css/post/joinDetail.css}">
  </head>
<body>
<div th:include="/include/header.html"></div>
<div class="container"></div>
<div class="details">
  <div class="left">
    <th:block th:each="image : ${imageDTOS}">
      <img th:src="@{'/api/photo/' + ${image.uuid} + '_' + ${image.fileName}}"
           alt="Uploaded Image"
           th:onerror="@{/images/default.jpg}">
    </th:block>
  </div>
  <div class="description">
    <h2 th:text="${post.title}"></h2>
    <div class="info">
      <img th:src="@{/image/map.png}" alt="여행지">
      <p id="position">여행지</p>
      <img th:src="@{/image/people.png}" alt="인원">
      <p id="number" th:text="'모집 인원 : ' + ${post.numPeople}">희망 인원</p>
      <p th:text=" '예산 : ' + ${post.expense} + '원'">예상 예산</p>
      <img th:src="@{/image/calendar.png}" alt="일정">
      <p id="cal">
        출국 : [[${#temporals.format(post.startTravelDate, 'yyyy-MM-dd')}]] <br>귀국 : [[${#temporals.format(post.endTravelDate.plusDays(21), 'yyyy-MM-dd')}]]</p>
    </div>
      <p id="content2" th:text="${post.content}">게시글 내용</p>
      <p id="commentH">댓글 </p>
<!--      <div class="comment">-->
<!--        <div class="profile-info">-->
<!--          <img th:src="@{/image/cat.jpeg}" alt="프로필 사진">-->
<!--        </div>-->
<!--        <div>-->
<!--          <h4 class="nickname">김시언 잇프제 대전</h4>-->
<!--          <span class="nickname"> 안사요 안산다고요 안사요...</span>-->
<!--        </div>-->
<!--      </div>-->
      <div>
        <form th:action="@{/post/joinDetail}" method="post">
          <input type="hidden" name="postId" th:value="${postId}" />
          <input type="hidden" name="memberId" th:value="${memberId}" />
          <input type="text" name="commentContent" placeholder="댓글을 입력하세요">
          <button type="submit">입력</button>
        </form>
      </div>
      <div>
        <ul id="comment-list">
          <li th:each="comment : ${comments}" th:text="${comment}">
            <!-- 댓글 추가됨 -->
        </ul>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/post/comment.js}"></script>
</body>

</html>
