<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기-메인</title>
    <link rel="stylesheet" th:href="@{/css/post/reviewMain.css}">
</head>

<body>
<div th:include="/include/header.html"></div>
<div class="container">
    <header>
        <div id="selectMenu">
            <a th:href="@{/post/joinMain}">모집</a>
            <a th:href="@{/post/reviewMain}" style="color:#FF6392">후기</a>
            <a th:href="@{/post/carrotMain}">상품</a>
        </div>
        <div id="selectMenu2">
            <div id="sortMenu">
                <a href="#" class="filter-link">최신순</a>
                <a href="#" class="filter-link">인기순</a>
                <a href="#" class="filter-link">많이 본 순</a>
                <a href="#" class="filter-link">댓글순</a>
            </div>
            <div id="use">
                <form>
                    <input type="text" name="query" id="searchInp">
                    <button type="submit" id="searchBtn">
                        <img th:src="@{/image/searchBtn.png}" alt="검색 버튼">
                    </button>
                </form>
                <button type="submit" id="postBtn"> + 올리기</button>
            </div>
        </div>
    </header>
    <section>
        <div class="reviewBox">
            <div class="photo">
                <img th:src="@{/image/dog.jpeg}" alt="후기 사진">
            </div>
            <div class="description">
                <div style="display: flex; align-items: center; background-color: #f0f0f0">
                    <img class="rating" th:src="@{/image/star_3.png}" alt="별점">
                    <span id="grade"></span>
                </div>
                <div class="content">
                    <p id="title">제목</p>
                    <p id="content">내용</p>
                </div>
            </div>
        </div>

        <div class="reviewBox">
            <div class="photo">
                <img th:src="@{/image/dog.jpeg}" alt="후기 사진">
            </div>
            <div class="description">
                <div style="display: flex; align-items: center; background-color: #f0f0f0">
                    <img class="rating" th:src="@{/image/star_3.png}" alt="별점">
                    <h4>별점</h4>
                </div>
                <h2>제목</h2>
                <h3>내용</h3>
            </div>
        </div>
    </section>
</div>
</div>
</body>
</html>
