#footer {
    width: 100%; /* 가로로 꽉 차도록 설정 */
    padding: 20px; /* 내부 여백 */
    box-sizing: border-box; /* padding이 요소의 크기에 포함되도록 설정 */
    text-align: center; /* 내용 가운데 정렬 */
    height: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: blue; /* 배경 색상 설정 */
    position: fixed; /* 화면 아래에 고정 */
    bottom: 0; /* 화면 아래에 배치 */
}

footer p {
    display: block;
    color: #666;
    font-size: 10px;
}

footer > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
