
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    /* .comment를 왼쪽으로 정렬 */
}


.top {
    flex: 0.3;
}

.bottom {
    display: flex;
    flex: 1;
}

.left {
    padding: 90px;
    flex: 0.5;
}

.left img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 4px 4px 4px lightgray;

}

.right {
    font-family: 'Pretendard-Regular';
    padding: 50px;
    flex: 0.5;
    padding-left: 0px;
}

.search {
    background-color: #F4F4F4;
    width: 100px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.glass {
    border: none;
    width: 40px;
    height: 40px;
    background-size: cover;
}

button.upload {
    width: 80px;
    height: 40px;
    font-family: 'BMJUA';
    border-radius: 30px;
    background-color: #FF6392;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px rgb(189, 189, 189);
    padding: 10px 30px;
    margin-left: 10px;
}

.snu {
    padding: 30px;
    float: right;
    display: flex;
    align-items: center;
}

.search {
    margin-right: -1px;
}

h3 {
    font-family: 'Pretendard-Regular';
    color: #c1c1c1;
    margin-right: 15px;
}

.line {
    display: flex;
}

.profile {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: auto;
    margin-bottom: 20px;
}

.profile img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
    /* 프로필 사진과 닉네임 간의 간격 조정 */
}

.profile p {
    margin: 0;
    /* 닉네임의 기본 마진 제거 */
    font-family: 'Pretendard-Regular';
    color: #000000;
    line-height: 1;
    /* 텍스트를 수직 정렬하기 위해 line-height 추가 */
    font-size: 1.2em;
    /* 닉네임의 폰트 사이즈 조정 */
    font-weight: bold;
    /* 닉네임의 폰트 굵기 설정 */
    text-transform: capitalize;
    /* 닉네임을 대문자로 변환하여 보여줌 */
}



.line {
    margin-bottom: 20px;
}

.line img {
    height: 1em;
    /* h3 요소의 높이와 동일하게 설정 */
    width: auto;
    /* 가로 너비를 자동으로 조정하여 비율 유지 */
    vertical-align: middle;
    margin-right: 5px;
    /* 이미지와 텍스트 사이의 간격을 조정 */
    font-size: inherit;
    /* 부모 요소인 h3의 폰트 크기를 상속 */
}



.line h3 {
    vertical-align: middle;
    /* h3를 수직 중앙으로 정렬 */
    margin: 0;
    /* 기본 마진을 제거하거나 조정 */
    line-height: 1;
    /* 필요에 따라 line-height 조정 */
    /* margin-left: 10px; */
    margin-right: 18px;
}

.comment {
    text-align: left;
}


#heartContainer {
    display: flex; /* 하트 이미지를 가로로 나열하기 위해 flex 사용 */
}

/* 하트 이미지에 대한 스타일 */
#heartContainer img {
    width: 20px; /* 하트 이미지의 너비 */
    height: auto; /* 높이는 자동으로 조절되도록 설정 */
    margin-right: 5px; /* 각 하트 이미지 사이의 간격 설정 */
}