.container {
    width: 1000px;
    margin: 86px auto;
    color: #363636;
    background-color: #fafafa;
}

#selectMenu {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: 20px;
}

#selectMenu > a {
    font-family: 'BMJUA';
    font-size: 21px;
    text-decoration: none;
    color: #363636;
}

section {
    width: 1000px;
    margin: 20px auto;
    margin-top: 40px;
}

.img {
    width: 1000px;
    height: 400px;
    margin-bottom: 20px;
}

.sec-container {
    display: flex;
    justify-content: space-between;
}

.regDate {
    text-align: end;
    font-family: 'Pretendard-Regular';
    color: #363636;
}

#left {
    width: 600px;
    height: 700px;
}

/*.view {*/
/*    width: 600px;*/
/*    height: 60px;*/
/*    border: none;*/
/*    border-radius: 7px;*/
/*    background-color: #FF6392;*/
/*    color: #fafafa;*/
/*    align-content: center;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.view > p {*/
/*    font-family: 'Pretendard-Regular';*/
/*    font-size: 17px;*/
/*    background-color: #FF6392;*/
/*    border-radius: 7px;*/
/*    color: #fafafa;*/
/*    margin: 0;*/
/*}*/

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

#heartIcon, #viewIcon {
    width: 17px;
    height: 17px;
}

.icon-text {
    color: #363636;
    font-family: 'Pretendard-Regular';
    margin: 0;
}

.location-container, .price-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#locationIcon, #priceIcon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#location {
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    color: #8D8D8D;
}

#price {
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #363636;
}

#title {
    font-family: 'BMJUA';
    font-width: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

#content {
    font-family: 'Pretendard-Regular';
    font-size: 19px;
    margin-bottom: 40px;
}

.infoBox {
    width: 600px;
    height: 200px;
    border: none;
    border-radius: 7px;
    background-color: #363636;
    color: #fafafa;
    align-content: center;
    margin-bottom: 40px;
}

.infoBox > p {
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    background-color: #363636;
    border-radius: 7px;
    color: #fafafa;
    margin-left: 40px;
}

.text {
    font-family: 'BMJUA';
    font-size: 20px;
    color: #363636;
}

#comment-input {
    border: 2px solid #8D8D8D;
    border-radius: 7px;
    width: 527px;
    height: 30px;
}

#comment-input:focus {
    outline: none;
}

form > button {
    width: 60px;
    height: 35px;
    color: #fafafa;
    background-color: #FF6392;
    border-radius: 7px;
    border: none;
}

#right {
    width: 380px;
    height: 700px;
    margin-left: 20px;
    margin-top: 15px;
}

#sell {
    margin-top: 0px;
    margin-left: 10px;
}

#loc {
    margin-top: 40px;
    margin-left: 10px;
}

.user {
    width: 380px;
    height: 100px;
    border: none;
    box-shadow: 10px 10px 10px rgb(227, 227, 227);
    border-radius: 10px;
    margin-left: 10px;
}

.go {
    margin: 30px;
}

.go > p {
    color: #363636;
    font-size: 19px;
    text-align: center;
}

#go {
    width: 330px;
    height: 40px;
    color: #fafafa;
    background-color: #FF6392;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-family: 'BMJUA';
    font-size: 19px;
    text-align: center;
}

#name {
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #363636;
}

#map {
    width: 400px;
    height: 500px;
    border: none;
    box-shadow: 10px 10px 10px rgb(227, 227, 227);
    border-radius: 10px;
    margin-left: 10px;
}

#commentList {
    list-style-type: none;
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: #363636;
    padding-left: 0px;
}

li {
    display: flex;
    justify-content: start;
    gap: 60px;
}

li p {
    margin: 0;
    margin-bottom: 4px;
}

#aaa {
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}