* {
    background-color: #fafafa;
    color: #363636;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
}

.container {
    max-width: 454px;
    margin: 40px auto;
}

header {
    text-align: center;
}

#title {
    font-family: 'BMJUA';
    font-size: 21px;
    text-align: center;
}

input:focus {
    outline: none;
}

input[type="text"],
input[type="number"] {
    width: 454px;
    height: 29px;
    padding-top: 18px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.8);
}

.gender {
    margin: 35px 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

input[type='radio']:checked {
    background-color: #ff6392;
    border: 2px solid #fafafa;
    box-shadow: 0 0 0 1.6px #ff6392;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    border-radius: 10px;
}

.selectBtn {
    /* 버튼 */
    width: 220px;
    height: 50px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #363636;
}

.selectBtn.selected {
    background-color: #ff6392;
    color: white;
}

.loginBtn {
    /* 버튼 */
    width: 454px;
    height: 52px;
    background-color: #ff6392;
    border-radius: 5px;
    border: none;
    /* 폰트 */
    color: #fafafa;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    /* 마우스 */
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #e0557d;
}

hr {
    width: 454px;
    height: 2px;
    background: #ff6392;
    border: none;
}

#signUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signUp a {
    color: #ff6392;
}
#imagePreview {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}